    <div class="content" id="footer">
    	<b>
    	|
    	<a href="/impressum/index.html">Impressum</a>
    	|
    	<a href="/datenschutzerklaerung/index.html">Datenschutzerklärung</a>
    	|
    	<a href="https://status.anoxinon.de/">Netzwerk Status</a>
    	|
      <a href="/blog/index.xml"><i class="fa fa-rss"></i> RSS Feed</a>
    	</b>
    	<br>
    	<b>Made with</b> <span style="color:#f44336"><i class="fa fa-heart"></i></span> <b>in Cyberspace</b>
    </div>
