<nav class="pagination pager align-center">
            <hr>
    <ul>
           {{if .Paginator.HasPrev }}
        <li class="prev"><a href="{{ .Paginator.Prev.URL }}">Zurück</a></li>
        {{ end }}
        <li>

        <a href="" class="button round small outline">Seite {{ .Paginator.PageNumber }} von {{ .Paginator.TotalPages }}</a>
        </li>
            {{ if .Paginator.HasNext }}</a>
        <li class="next"><a href="{{ .Paginator.Next.URL }}">Nächste</a></li>
           {{ end }}
    </ul>
</nav>
