{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<!--  <div class="message warning open" data-component="message" data-loaded="true">
<h5>Wichtige Information:</h5>  <a href="/blog/logbuchspezial_zukunftdesvereins/"></a>. <span class="close small"></span> -->

  <div id="main">
    <div id="hero">
      <h1> {{ .Title}} </h1>
      <p class="hero-lead">
           {{ .Params.bref | safeHTML }}.
      </p>

    </div>
    <div id="kube-component" class="content">

    {{ .Content}}
<!-- Inject script tag in this template  -->
    {{if .Params.script}}
     {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
    {{ partial (string $script) .}}
        {{ end }}
    </div>
    </div>
    {{ end }}
    {{ define "footer" }}
      {{ partial "footer" . }}
{{ end }}
