<p>
  Veröffentlicht
  {{ if ne .Site.Params.hide_author true }}
    {{ with .Params.author }}
      von <span itemprop="author">{{ index . }}</span>
    {{ else }}
      von <span itemprop="author">{{ .Site.Params.author }}</span>
    {{ end }}
  {{ end }}
  am
  <time datetime="{{ dateFormat "2006-01-02T15:04:05+01:00" (default .Date (.PublishDate)) }}">
    {{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}
  </time>
  {{ with .Params.categories }}
    in <span itemprop="articleSection">{{ delimit (apply (apply (sort .) "partial" "post/category-link" ".") "chomp" ".") ", " " , " }}</span>
  {{ end }}
  {{ with .Params.tags }}
    mit den Tags {{ delimit (apply (apply (sort .) "partial" "post/tag-link" ".") "chomp" ".") ", " " , " }}
  {{ end }}
   und beinhaltet <span itemprop="wordCount">{{ .WordCount }}</span> Wörter.
</p>
