<span class="icon">
  <i class="fa fa-clock-o" aria-hidden="true"></i>
</span>
<span>Lesezeit ca. {{ .ReadingTime }} Minute(n) | </span>
<span class="icon">
 <i class="fa fa-pencil" aria-hidden="true"></i>
</span>
{{ if .PublishDate.IsZero }}
  Veröffentlicht am <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2 Jan, 2006" }}</time>
{{ else if lt .PublishDate .Lastmod }}
  Überarbeitet am <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">{{ .Lastmod.Format "2 Jan, 2006" }}</time>
{{ else }}
  Veröffentlicht am <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">{{ .PublishDate.Format "2 Jan, 2006" }}</time>
{{ end }}
