{{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
  {{ $.Scratch.Set "has_related" true }}
{{ end }}

{{ if $.Scratch.Get "has_related" }}
  <aside>
    <header><strong>Ähnliche Beiträge</strong></header>
    <hr>
    <ul>
      {{ $num_to_show := .Site.Params.related_content_limit | default 5 }}
      {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> &ndash; Lesezeit ca. {{ .ReadingTime }} Minuten
      {{ end }}
    </ul>
  </aside>
{{ end }}
