{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div class="example">
 <!--  <div class="message warning open" data-component="message" data-loaded="true">
<h5>Wichtige Information:</h5>  <a href="/blog/logbuchspezial_zukunftdesvereins/"></a>. <span class="close small"></span> -->
</div>

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <i class="fa fa-users fa-4x" aria-hidden="true"></i>
        </figure>
        <h3>Gemeinschaft</h3>
        <p>Wir vertreten das Prinzip der Gemeinschaft und Gleichberechtigung, nur zusammen kann man etwas bewegen.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i class="fa fa-code fa-4x" aria-hidden="true"></i>
        </figure>
        <h3>Dienste</h3>
        <p>Der Großteil unserer Dienste ist öffentlich zugänglich, dabei legen wir den Fokus auf die Themen Datenschutz & Sicherheit.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i class="fa fa-lightbulb-o fa-4x" aria-hidden="true"></i>
        </figure>
        <h3>Open Source</h3>
        <p>Man soll die Büchse der Pandora nicht öffnen, deswegen ist es besser im vorhinein zu wissen wie eine Software funktioniert und was sie tut.</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
