<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

  {{ with .Description }}
  <meta name="description" content="{{ . }}"> {{ end }}
  <!-- noindex meta -->
  {{ $default_noindex_kinds := slice "section" "taxonomy" "taxonomyTerm" }}
  {{ $noindex_kinds := .Site.Params.noindex_kinds | default $default_noindex_kinds }}
  {{ $is_noindex_true := and (isset .Params "noindex") .Params.noindex }}
  {{ if or (in $noindex_kinds .Kind) ($is_noindex_true) }}
  <meta name="robots" content="noindex">
  {{ end }}

  {{ partial "meta/name-author" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ partial "meta/ogimage" . }}
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" /> {{ end }}

  <link rel="canonical" href="{{ .Permalink }}"> {{ if (isset .Params "prev") }}
  <link rel="prev" href="{{ .Params.prev }}"> {{ end }} {{ if (isset .Params "next") }}
  <link rel="next" href="{{ .Params.next }}"> {{ end }}

  <!-- Fediverse rel=me Links -->
    <a rel="me" href="https://social.anoxinon.de/@Anoxinon"></a>
    <a rel="me" href="https://social.anoxinon.de/@AnoxinonMedia"></a>
    <a rel="me" href="https://social.anoxinon.de/@SkyfaR"></a>
    <a rel="me" href="https://social.anoxinon.de/@cebeer"></a>
    <a rel="me" href="https://metalhead.club/@thomas"></a>
    <a rel="me" href="https://social.anoxinon.de/@diekuh"></a>
    <a rel="me" href="https://social.tchncs.de/@angrytux"></a>


  <!-- Icon -->
  <link rel="shortcut icon"
  {{ if .Site.Params.faviconfile }}
      href="/{{ .Site.Params.faviconfile }}"
  {{ else }}
      href="/img/fav.ico"
  {{ end }}
  >

  <link href="/css/kube.min.css" rel="stylesheet" type="text/css">
  <link href="/css/kube.legenda.css" rel="stylesheet" type="text/css">
  <link href="/css/master.css" rel="stylesheet" type="text/css">
  <link href="/css/fork-awesome.min.css" rel="stylesheet" type="text/css">
<!-- js vendor -->
  <script src="/js/jquery-2.1.4.min.js" type="text/javascript"></script>
</head>


<body class="page-kube">
  <header>{{ block "header" . }}{{ end }}</header>
  <main>{{ block "main" . }}{{ end }}</main>
  <footer>{{ block "footer" . }}{{ end }}</footer>


  <script src="/js/kube.js" type="text/javascript">
  </script>
  <script src="/js/kube.legenda.js" type="text/javascript">
  </script>
  <script src="/js/master.js" type="text/javascript">
  </script>
</body>

</html>
